<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="row">
          <button class="col-xs-3 btn btn-default">1</button>
          <button class="col-xs-3 btn btn-default">2</button>
          <button class="col-xs-3 btn btn-default">3</button>
        </div>

        <div class="row">
          <button class="col-xs-3 btn btn-default">4</button>
          <button class="col-xs-3 btn btn-default">5</button>
          <button class="col-xs-3 btn btn-default">6</button>
        </div>

        <div class="row"> 
          <button class="col-xs-3 btn btn-default">7</button>
          <button class="col-xs-3 btn btn-default">8</button>
          <button class="col-xs-3 btn btn-default">9</button>
        </div>

        <div class="row">  
          <button class="col-xs-offset-3 col-xs-3 btn btn-default">0</button>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="row">
          <button class="col-xs-6 btn btn-default">+</button>
        </div>

        <div class="row">
          <button class="col-xs-6 btn btn-default">-</button>
        </div>

        <div class="row">
          <button class="col-xs-6 btn btn-default">x</button>
        </div>

        <div class="row">  
          <button class="col-xs-6 btn btn-default">/</button>
        </div>
      </div>
    </div>
  </div>
</body>

